/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/03/2022, 02:30:43 PM
    Author     : ryzen3
*/

.fondocss{
  background-image: url("https://s1.1zoom.me/b5050/66/Dogs_Cats_Two_Grass_552665_1920x1080.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
/*  image-rendering: auto;*/
  image-rendering:auto ;

        
}
.divlog{
    padding-left:17rem; 
    padding-right:43rem; 
    margin-top: 7rem;
    height: 12rem;
  
}

.botonentrar{
  
  
}